<div class="DetailArticulo">
    <table>
     <tbody>
     <tr>
       <th>Talle:</th>
       <td><%=producto.Talle.join("/") %></td> 
      </tr>
      <tr>
       <th>Color:</th>
       <td><%=producto.color.join(",") %></td> 
      </tr>
 </tbody>
</table>
</div>