<div class="DetailJuego">
    <table>
        <tbody>
            <tr>
                <th>Edades:</th>
                <td><%= producto.edad %></td> 
               </tr>
              <tr>
                <th>Jugadores:</th>
                <td><%= producto.Jugadores %></td> 
               </tr>
               <tr>
                <th>Duracion:</th>
                <td><%= producto.Duracion %></td> 
               </tr>
        </tbody>
    </table>

   </div>
