<section class="banner">
    <img class="banner_img_f" src="/estructuras/Medias/Imagenes/Game_Chronicle__1_-removebg-preview.png"
        alt="Hombre pelirrojo con penetrantes ojos verdes">
<div class="banner_format">
<h1>GAME CHRONICLE</h1>
    <img class="banner_img_s" src="/estructuras/Medias/iconos/icons8-guitar-96-removebg-preview-removebg-preview.png"
        alt="Laud instrumento musical">
    </div>
    </section>