<div class="div_carrito">
    <div class="carrito_icon">
    <a href="/confirmarCompra"><img src="/estructuras/Medias/iconos/carrito-de-compras.png" alt="carrito de compras"></a>
    <span>∅</span>
</div>
    <div class="mensaje_carrito">
<p>No hay articulos en el carrito aun</p>
    </div>
<div class="preview_articulos">
contenido a definir
</div>
</div>