<footer>
    <div class="mensaje">
        <!--Aun no decidi que tipo de estructura o informacion quiero poner en el footer por lo tanto no la he definido-->
        <p>@Derechos Reservados 2025@ <i>Hora de perseguir el viento</i></p>
        <input type="checkbox" name="menu_Responsive" id="menu_toggle">
        <label for="menu_toggle" class="menu_label"></label>
        <div class="foo_container">Estructura</div>
    </div>

   </footer>