<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <title>Cronica de Juegos</title>
    <link rel="shortcut icon" href="/estructuras/Medias/Imagenes/4kvothe logo3.png" type="image/x-icon">

    <% /* ---------------------------------------------------------------- */ %>
    <link rel="stylesheet" href="/estructuras/styles/stylesgeneralv1.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <% /* ---------------------------------------------------------------- */ %>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">

    <% /* ---------------------------------------------------------------- */ %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <!-- Estilos específicos para la página -->
  <% if (page === "Home") { %>
    <link rel="stylesheet" href="/estructuras/styles/stylesHomev1.css">
  <% } else if (page === "login") { %>
    <link rel="stylesheet" href="/estructuras/styles/stylesLoginv1.css">
  <% } else if (page === "mensaje") { %>
    <link rel="stylesheet" href="/estructuras/styles/stylesLoginv1.css">
    <link rel="stylesheet" href="/estructuras/styles/stylesMessage.css">
  <% } else if (page === "carroDeProducto") { %>
    
    <link rel="stylesheet" href="/estructuras/styles/stylesCarrito.css">
  <% } else if (page === "DetalleDeProducto") { %>
    <link rel="stylesheet" href="/estructuras/styles/stylesHomev1.css">
    <link rel="stylesheet" href="/estructuras/styles/stylesProducto.css">
    <% } else if (page === "seccionProductos") { %>
      <link rel="stylesheet" href="/estructuras/styles/stylesTipo.css">
      <link rel="stylesheet" href="/estructuras/styles/stylesMproductos.css">
          
      
      
  <% } %>
     
</head>
