<header> <img src="/estructuras/Medias/iconos/camion-de-carga.png" alt="camion de envio" id="izq">
    <p>Envíos gratis a todo el país</p>
    <img src="/estructuras/Medias/iconos/camion-de-carga.png" alt="camion de envio" id="der">
</header>