<section class="informacion">
    
    <p>Aceptamos efectivo, transferencia, tarjetas </p>
    <ul>
        <li><img src="/estructuras/Medias/iconos/visa.png" alt="visa"></li>
        <li><img src="/estructuras/Medias/iconos/tarjeta-de-credito (1).png" alt="tarjeta de credito"></li>
        <li><img src="/estructuras/Medias/iconos/redondo.png" alt="Mastercard"></li>
        <li><img src="/estructuras/Medias/iconos/tarjeta-de-credito.png" alt="tarjeta"></li>
        
    </ul>
</section>