html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal con CSS Grid */
.container {
    display: grid;
    grid-template-areas:
        "header"
        "banner"
        "navigation"
        "promociones"
        "categorias productos"
        "ofertas"
        "footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
   background-color: white;
}

/* Áreas de cada sección */
.header {
    grid-area: header;
    background-color: #5C545C;
    text-align: center;
    padding: 10px;
}

.banner {
    grid-area: banner;
    background-color: #DD4204;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    padding: 10px;
}

.navigation {
    grid-area: navigation;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.promociones {
    grid-area: promociones;
    background-color: #99cc33;
    padding: 10px;
    text-align: center;
}

.categorias {
    grid-area: categorias;
    background-color: #ffdd99;
    padding: 10px;
}

.productos {
    grid-area: productos;
    background-color: #f2f2f2;
    padding: 10px;
}

.ofertas {
    grid-area: ofertas;
    background-color: #ccffcc;
    padding: 10px;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos adicionales para cada sección */
.banner img {
    max-height: 80px;
}

.banner h1 {
    font-size: 2em;
    margin: 0;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navigation ul li {
    color: white;
    cursor: pointer;
}

.promociones ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 10px 0 0;
}

.categorias ul, .productos ul {
    list-style-type: none;
    padding: 0;
}

.productos .encabezado-titulos {
    margin-bottom: 15px;
}

.productos .tarjetas ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
}

footer div {
    display: none;
    margin: 5px 0;
}