.contenido {
  display: block;
  height: auto;
  flex-direction: column;

  }
.contenido *{
  margin: 0;
  padding: 0;}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;}
.contenido h1{width: 100%;}
  /*------------formulario de login y registro-----------------------------*/
.formLR{
  display: flex; 
  flex-direction: column;
width: 100%;
margin: 1%;}
.format_input1 { /*input tipo texto y pass*/
    display: flex;
    flex-direction: column;
    gap: 5%; /* Espacio entre elementos */
    padding: 2%;
    width: 100%;}

.b_login{width: unset;
background-color: blue;
padding: 0.3rem;}
.b_login:hover{background-color: blueviolet;}
textarea{display: block;
  width: 500px;
  height: 50px;
  margin: 0;
  padding: 12px;
 resize: none;
  line-height: 16px;
  }
#input_file{
font-size: 75%;
padding: 4px;
border: unset;
flex: unset;}
  
  @media (max-width: 768px) {
    .campo {
      width: 100%;
    }
  textarea{width: 70%;}
}
@media (max-width: 500px){
  textarea{height: 30px;}
  .file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}