/* General Styles */
.card {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 3px;
    text-overflow: ellipsis;
    white-space: normal; 
    word-wrap: break-word;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #FAC710; /* You can change this color */
  }
  
  .card .frente,
  .card .reverso {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card .frente {
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }
  
  .card .img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card .img img {
    max-width: 150px;
    height: auto;
    object-fit: contain;
    transition: transform 1.3s;
  }
  
  .card .img img:hover {
    opacity: 90%;
    transform: scale(1.2);
    z-index: 9999;
  }
  
  .card .text {
    padding: 4px;
    text-align: center;
  }
  
  .card .titulo {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(71, 4, 4); /* Red title color */
    padding: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Limits to 2 lines */
    overflow: hidden;
  }
  
  .card .precio {
    font-size: 1.5rem;
    color: #ff0000; /* Price color */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
  }
  
  .card .descripcion {
    color: #31363D; /* Description text color */
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 1rem;
    padding: 10px;
    display: block;
    text-align: center;
  }
  
  .card .frente:hover + .reverso .descripcion {
    opacity: 1; /* Description appears when hovering over the front */
    color: black;
  }
  
  .card .btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card .btn button {
    background-color: #0003c0; /* Green button */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background 1.3s ease;
  }
  .btn2{display: none;}
  .card .btn button:hover {
    background-color: #33026b; /* Darker green on hover */
  }
  
  .card .reverso {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    z-index: 1;
    text-align: center;
    transition: opacity  ;
  }
  
  .card:hover .reverso {
    display: block;
    opacity: 1;
  }
  