.contenido {
       grid-template-areas:
             "productos";
    grid-template-columns: auto;
    grid-template-rows:  1fr;}
   
/*------------------ ASIDE ----------------*/
/* Contenedor del aside */
.aside-container {
    position: absolute;
     transition: width 0.9s;
     box-shadow: 7.2px 7.2px 13.2px 5.2px rgb(81, 0, 0);
      z-index: 1000;
      left: 22px;
      top: 14px;
      width: 30px;
      border-radius: 30%;
      padding: 0.5rem;
      margin-left: 0.5%;
    overflow: visible;}
.aside-container:hover {
        width: 25%; 
    opacity: 0.9;
    box-shadow: unset;
   }
/*----------------------------*/
.aside {
    overflow: hidden;
    display: flex;
    flex-direction: column;}

.aside:hover .aside-list { display: block;}
#categoriasDesplegable{
    border-radius: 50%;
        color: rgb(180, 0, 0);
        font-size: 1rem;
    text-decoration: unset;}
/*----------------------------------------------*/
.encabezado_aside{
        display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-shadow: 2%;
     cursor: pointer;
font-size: 0.8rem;}
 .aside-list{   
      display: none;          
    overflow-y: scroll;
overflow-x: hidden;}
.aside-link{
    display: flex;
gap: 2%;
    list-style-type: none;
    background-color: red;
color: white;
font-family: bold, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.subcategoria-list{
font-style: unset;
    list-style-image: url('../Medias/iconos/pila-de-libros.png');}
.subcategoria-link{
    align-items: start;
    list-style-type: none;
   text-decoration: unset;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9rem;}
.tarjeta{width: 25%;}
.tarjetas-list{    width: 97%;
    margin: 1%;}
/*--------------------Media queries -------------------------*/

@media(max-width: 890px){
    .contenido{    grid-template-columns: auto;}}
/*----------------------*/
@media(max-width: 650px){
    .contenido{    grid-template-columns: auto;}

  .aside-container{display: none;}
#mtogglebutton{display: none;}}
/*----------------------*/
@media (max-width:500px){
    .contenido{    grid-template-columns: auto;}
    .ofertas .tarjeta-img{height: 80px;}
    .tarjeta,
.flecha{
    transition: unset;}
    .tarjeta:hover,
    .flecha:hover{
        transform: unset;
        box-shadow: unset;
        background-color:unset;}
    /*-----------------Adaptacion------------------------------------*/
.productos_tipo{margin: 2px;}
    .tarjetas-list{ flex-direction: column;}
    .tarjeta-link{width: 100%;
    height: auto;}
 .tarjeta{width: 100%;}  }
    
    /*-----------------Texto tarjeta------------------------------------*/

@media(max-width: 300px){
    .contenido{  grid-template-rows: 150px 1fr;}
}
