.contenido {
    display: grid;
    grid-template-areas:
       "ofertas"
        "productos";
    grid-template-columns: auto;
    grid-template-rows:  15%;
    overflow: hidden; }
    .contenido *{
       margin: 0;
         padding: 0; }
/*---------------------OFERTAS PROMOCIONALES-----------------------*/
.ofertas {
    grid-area: ofertas;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;}
/*--------------DIV-------------*/
    .ofertas_descripcion {
    display: flex;
    flex-direction: column;
    width: 100%;}
/*--------------elemento p de ofertas_descripcion-------------*/
.ofertasp {
    color: #5004dd;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 0.8rem;
    word-spacing: 0.2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
letter-spacing: unset;}
/*--------------elemento li de tarjetas-------------*/
.ofertas .tarjeta {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}
    .ofertas .tarjetas{    height: min-content;}
    .ofertas .tarjetas-list{align-items: unset;}
/*--------------elemento imagen de la tarjeta-------------*/
.ofertas .tarjeta-link {
    height: 60%;  
    width: unset;}
.ofertas .tarjeta-img {
    height: 100%;  
    object-fit: contain;} /* Ajusta la imagen sin perder proporciones */
/*--------------elemento p de tarjeta-------------*/
.ofertas .descripcion,.ofertas .precio
 {height: unset;
font-size: 0.7rem;}
/*------------------ PRODUCTOS ----------------*/
.productos {
    display: flex;
    flex-direction: column;
    grid-area: productos;
    position: relative;
  overflow: hidden;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-right: 2%;}
/*--------------Titulos h1 de las clases de producto------------*/
.titulos {
    display: flex;
    flex-direction: row;
    height: auto;
    color: white;
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2%;}
/*------------------ BOTONES PARA OCULTAR MOSTRAR ----------------*/

.ocultar_tipo,
.mostrar_tipo,
.encabezado_aside button{
    height: 60%;
    width: 4%;
    justify-content: center;
    align-items: center;
    color: #FAC710;
    font-size: 0.9rem;
    background-color: unset;
    border: 1px solid;
    border-radius: 50%;
    margin: 1%;}
    .encabezado_aside button{height: 80%;
        display: flex;
    justify-content: center;
    align-items: center;}
.ocultar_tipo {display: flex;}
.mostrar_tipo {display: none;}

/*------------------ CONTENEDOR DE PRODUCTOS ----------------*/

.productos_tipo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
overflow: visible;}
/*----------------------*/
.tarjetas {
    width: 100%;
    padding: 1%;
    height: auto;
    overflow: hidden;
    display: flex;
    transition: all 0.3s ease;}

.tarjetas-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    list-style-type: none;
   overflow: hidden;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;}
/*----------------------*/
.flecha {
    width: 1%;
    border: 2% solid #FAC710;
    background: unset;}

.flecha-izquierda,
.flecha-derecha {
    background-color: red;
    border-radius: 50%;
    border: 2% solid #FAC710;
    font-size: 1.2rem;
    color: white;}
/*----------------------*/
.tarjeta {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 1%;
    text-overflow: ellipsis;
    white-space: normal; 
    word-wrap: break-word;} 
 .tarjeta-link {
    height: 70%; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}

.tarjeta-img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;}
/*----------------------*/

.descripcion,.precio {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    word-spacing: 0;
    letter-spacing: 0.1rem;}

.descripcion {    color:black; }
.precio{color: red;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.carrito, .eliminar{
    border: 2% solid green;
    border-radius: 30%;
color: green;
background-color: unset;
padding: 0.2rem;
font-size: 1.2rem;
}
.eliminar{display: none;}

.items_producto{display: none;}
.compras{
    border-radius: 10%;
background-color: unset;}
/*--------------HOVER TARJETA------------------*/
.tarjeta:hover ,
.flecha:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #FAC710;}
.tarjeta  a img:hover{
    opacity: 90%; 
    transform: (1.5,1.5);
    overflow: visible;
z-index: 10;
object-fit: contain;}
    
/*------------------ ASIDE ----------------*/
/* Contenedor del aside */
.aside-container {
    position: absolute;
     transition: width 0.9s;
     box-shadow: 7.2px 7.2px 13.2px 5.2px rgb(81, 0, 0);
      z-index: 1000;
      width: 5%;
      border-radius: 30%;
      padding: 0.5rem;
      margin-left: 0.5%;
    overflow: visible;}
.aside-container:hover {
        width: 25%; 
    opacity: 75%;
    box-shadow: unset;
   }
/*----------------------------*/
.aside {
    overflow: hidden;
    display: flex;
    flex-direction: column;}

.aside:hover .aside-list { display: block;}
#categoriasDesplegable{
    border-radius: 50%;
        color: rgb(180, 0, 0);
        font-size: 1rem;
    text-decoration: unset;}
/*----------------------------------------------*/
.encabezado_aside{
        display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-shadow: 2%;
     cursor: pointer;
font-size: 0.8rem;}
 .aside-list{   
      display: none;          
    overflow-y: scroll;
overflow-x: hidden;}
.aside-link{
    display: flex;
gap: 2%;
    list-style-type: none;
    background-color: red;
color: white;
font-family: bold, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.subcategoria-list{
font-style: unset;
    list-style-image: url('../Medias/iconos/pila-de-libros.png');}
.subcategoria-link{
    align-items: start;
    list-style-type: none;
   text-decoration: unset;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9rem;}

/*--------------------Media queries -------------------------*/


@media(max-width: 890px){
    .descripcion,
    .precio {font-size: 75%;}
    .ofertas .descripcion,.ofertas .precio{font-size: 65%;}}
/*----------------------*/

@media (max-width:800px) {
    .tarjetas{ width: 98%; }  }
/*----------------------*/

@media(max-width: 650px){
   .aside-container{display: none;}
#mtogglebutton{display: none;}}
/*----------------------*/

@media(max-width: 600px){
    .mensaje p{font-size: 80%;}
    .ofertas .tarjetas-list, .tarjetas-list{
        display: flex;
        flex-direction: column;
    height: 100%;}

 .ofertas .tarjeta{   
    width: 100%;
    height: auto; 
flex-direction: row;
flex-wrap: nowrap;}
.ofertas .tarjeta-img{
    max-width: 100%;
    max-height: 100%;
    height: 100%;}
.ofertas .tarjeta-link{
    height: auto;
    width: 70%}
.compras{
    display: flex;
    flex-direction: column-reverse;}
.tarjeta .ofertas, .tarjeta{
    height: 20%;
    width: 100%;
    flex-direction: row;}
.flecha-izquierda,.flecha-derecha{transform: rotate(90deg);}}