<div class="aside-container">
    <aside class="aside">
        <div class="encabezado_aside">
                 <a href="#" id="categoriasDesplegable">►</a>
    </div>

    <ul class="aside-list">
   
           <li><a href=".#" class="aside-link">Juegos</a>
            <ul class="subcategoria-list">
                <li><a href=".#" class="subcategoria-link">📦 Harry Potter</a></li>
                <li><a href=".#" class="subcategoria-link">📦 El señor de los anillos</a></li>
                <li><a href=".#" class="subcategoria-link">📦 Marvel</a></li>
                <li><a href=".#" class="subcategoria-link">📦 DC</a></li>
                <li><a href=".#" class="subcategoria-link">📦 Coleccionables</a></li>

            </ul>
        </li>
      
    </ul>
</aside>
  </div>