<section class="login">

    <h1>Iniciar Sesion</h1>

    <form  class="formLR">
<div class="format_input1">
<label for="user" class="user">User </label>
<input type="text" required placeholder="Ingresa tu username">

<label for="contraseña">Clave</label>
<input type="password" required placeholder="Ingrese tu password">
</div>
<div class="form_radio">
<label for="rol" name="rol_acceso">Cliente      </label>
<input type="radio" name="rol_acceso" required>
<label for="rol" name="rol_acceso">Administrador</label>
<input type="radio" name="rol_acceso" required>
</div>
<button class="b_login">Iniciar</button>
<a href="#" class="desplegar_ocultar">¿Has olvidado tu contraseña?</a>
    </form>
</section>