  <section class="registro">
   <h1>Datos personales</h1>
   <form action="" class="formLR registro">
    <div class="format_input1">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Ingresa tu nombre" required>
        </div>
        
        <div class="campo">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" placeholder="Ingresa tu apellido" required>
        </div>

        <div class="campo">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" placeholder="Ingresa tu username" required>
        </div>

        <div class="campo">
            <label for="clave">Clave</label>
            <input type="password" id="clave" placeholder="Ingresa tu contraseña" required>
        </div>

        <div class="campo">
            <label for="email">Correo</label>
            <input type="email" id="email" placeholder="Ingresa tu correo" required>
        </div>

        <div class="campo">
            <label for="telefono">Teléfono</label>
            <input type="tel" id="telefono" placeholder="Ingresa tu teléfono">
        </div>

        <div class="campo">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" id="fecha" required>
        </div>

        <div class="campo">
            <label for="provincias">Provincia</label>
            <select id="provincias" name="provincias">
                <option value="" disabled selected>-- Selecciona una opción --</option>
                <option value="buenos-aires">Buenos Aires</option>
                <option value="cordoba">Córdoba</option>
                <option value="mendoza">Mendoza</option>
                <option value="tucuman">Tucumán</option>
                <option value="chubut">Chubut</option>
          <option value="cordoba">Córdoba</option>
          <option value="corrientes">Corrientes</option>
          <option value="entre-rios">Entre Ríos</option>
          <option value="formosa">Formosa</option>
          <option value="jujuy">Jujuy</option>
          <option value="la-pampa">La Pampa</option>
          <option value="la-rioja">La Rioja</option>
          <option value="mendoza">Mendoza</option>
          <option value="misiones">Misiones</option>
          <option value="neuquen">Neuquén</option>
          <option value="rio-negro">Río Negro</option>
          <option value="salta">Salta</option>
          <option value="san-juan">San Juan</option>
          <option value="san-luis">San Luis</option>
          <option value="santa-cruz">Santa Cruz</option>
          <option value="santa-fe">Santa Fe</option>
          <option value="santiago-del-estero">Santiago del Estero</option>
          <option value="tierra-del-fuego">Tierra del Fuego</option>
          <option value="tucuman">Tucumán</option>
            </select>
        </div>

        <div class="campo">
            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" placeholder="Ingresa tu dirección" required>
        </div>
        <div class="campo">
            <label for="foto-perfil">Sube tu imagen de perfil</label>
            <input type="file" id="imagen">
        </div>
        <div class="campo">
            <label for="codigo-postal">Código postal</label>
            <input type="text" id="codigo-postal" placeholder="Ingresa tu código postal">
        </div>
    </div>
<input class="b_login" type="submit" value="Registrar">
 
    </form>
</section>