<section class="login">

    <h1>Formulario de contacto</h1>

    <form  class="formLR">
<div class="format_input1">
<div class="campo">
<label for="nombre">Nombre</label>
<input type="text" id="nombre" placeholder="Ingresa tu nombre" required>
</div>

<div class="campo">
<label for="email">Correo</label>
<input type="email" id="email" placeholder="Ingresa tu correo" required>
</div>

<div class="campo">
<label for="telefono">Teléfono</label>
<input type="tel" id="telefono" placeholder="Ingresa tu teléfono">
</div>
<div class="campo">
<label for="mesagge">Mensaje:</label>
<textarea name="message" placeholder="Deje aqui su mensaje" required></textarea>
</div>


<div class="campo">
<label for="consulta">Motivo</label>
<select id="motivos" name="consulta" required>
    <option value="" disabled selected>-- Selecciona una opción --</option>
    <option value="consulta-general">Consulta General</option>
    <option value="soporte-tecnico">Soporte Técnico</option>
    <option value="estado-producto">Estado de Producto</option>
    <option value="informacion-envio">Información de Envío</option>
    <option value="problema-pedido">Problema con el Pedido</option>
    <option value="devolucion-cambio">Devolución o Cambio de Producto</option>
    <option value="sugerencias-comentarios">Sugerencias o Comentarios</option>
    <option value="otro">Otro</option>
</select><br>
</div>
<div class="campo">
<label for="">Deje aqui su archivo (Opcional)</label><br>
<input type="file"  id="input_file">
<br>
</div>


<input type="submit" class="b_login"> 

</div>

</form>
</section>