<div class="new-product">


    <form class="row g-3" id="produ-new">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Titulo" aria-label="Titulo">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" placeholder="Precio" aria-label="Precio">
      </div>
      <div class="container-fluid px-3">
        <div class="row">
            <div class="col-md-6">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control w-100" id="descripcion" rows="6" required></textarea>
       
            </div>
            <div class="col-md-6">
              <div class="row">
                <label for="tamaño" class="form-label">Unidades de stock</label>
                <input type="number" min="1" class="form-control" placeholder="stock" aria-label="stock del producto">
                   </div>
              <div class="row">
              <label for="descripcion" class="form-label">Peso</label>
              <input type="text" class="form-control" placeholder="Peso" aria-label="Peso">
                 </div>
                 <div class="row">
                  <label for="tamaño" class="form-label">Tamaño</label>
                  <input type="text" class="form-control" placeholder="Tamaño" aria-label="Tamaño">
                     </div>
                    </div>
  
             
      
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Cargar imagen de producto</label>
          <input class="form-control" type="file" id="formFile" required>
      </div>
      </div>
    <div class="Tipo mb-3 d-flex justify-content-center">
      <select id="tipo-producto" class="form-select form-select-lg w-50 text-center" required>
          <option value="" disabled selected>Tipo de Producto</option>
          <option value="1">Juego</option>
          <option value="2">Libro</option>
          <option value="3">Artículo</option>
      </select>
  </div>
  
    <div class="Juego p-2">
      <!-- Grupo de Duración y Edad -->
      <div class="input-group mb-2 w-50">
          <input type="number" class="form-control text-center" placeholder="Duración (min)" aria-label="Duración en minutos" min="1" required>
          <input type="number" class="form-control text-center" placeholder="Edad mínima" aria-label="Edad mínima" min="1" max="200" required>
          <span class="input-group-text">+</span>
      </div>
  
      <!-- Grupo de Jugadores -->
      <div class="mb-2 text-center w-50">
          <label class="form-label">Jugadores</label>
          <div class="d-flex justify-content-center gap-2">
              <input type="number" id="minPlayers" class="form-control text-center w-50" min="1" placeholder="Mín." required>
              <input type="number" id="maxPlayers" class="form-control text-center w-50" min="1" placeholder="Máx." required>
          </div>
      </div>
  </div>
  
    
      <div class="Libro">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Autor</span>
          <input type="text" class="form-control" aria-label="Nombre del Autor" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-4 w-50">
          <input type="text" class="form-control text-center" placeholder="ISBN" aria-label="ISBN" min="1" required>
          <input type="number" class="form-control text-center" placeholder="Paginas" aria-label="Paginas" min="1"  required>
            <input type="text" class="form-control" id="editorial" placeholder="Editorial">
          </div>
          
        <div class="mb-2 text-center w-50">
          <label for="publicacion">Fecha de publicación</label>
          <input type="datetime-local" id="publicacion" name="publicacion">
        </div>
      <div class="input-group mb-2 w-100">
  
        <div class="mb-2 w-50">
          <label class="form-label">Idiomas</label>
          <div class="d-flex gap-3 flex-wrap">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="ingles" name="idiomas" value="ingles">
                  <label class="form-check-label" for="ingles">Inglés</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="espanol" name="idiomas" value="espanol">
                  <label class="form-check-label" for="espanol">Español</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="italiano" name="idiomas" value="italiano">
                  <label class="form-check-label" for="italiano">Italiano</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Ruso" name="idiomas" value="Ruso">
                <label class="form-check-label" for="Ruso">Ruso</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Francia" name="idiomas" value="Francia">
              <label class="form-check-label" for="Francia">Frances</label>
          </div>
          </div>
      </div>
      <div class="mb-2 w-50">
        <label class="form-label">Formato</label>
        <div class="d-flex gap-3 flex-wrap">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tapaDura" name="formato" value="dura">
                <label class="form-check-label" for="tapaDura">Tapa dura</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tapaBlanda" name="formato" value="blanda">
                <label class="form-check-label" for="tapaBlanda">Tapa blanda</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="bolsillo" name="formato" value="bolsillo">
                <label class="form-check-label" for="bolsillo">Edición de bolsillo</label>
            </div>
        </div>
    </div>
    
      </div>
    
      </div>
    
      <div class="Articulo">
      
        <div class="mb-2 w-50">
          <label class="form-label">Talles</label>
          <div class="d-flex gap-3 flex-wrap">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="talleXS" name="talle" value="xs">
                  <label class="form-check-label" for="talleXS">XS</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="talleS" name="talle" value="s">
                  <label class="form-check-label" for="talleS">S</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="talleM" name="talle" value="m">
                  <label class="form-check-label" for="talleM">M</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="talleXL" name="talle" value="xl">
                  <label class="form-check-label" for="talleXL">XL</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="talleXXL" name="talle" value="xxl">
                  <label class="form-check-label" for="talleXXL">XXL</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="talleXXXL" name="talle" value="xxxl">
                  <label class="form-check-label" for="talleXXXL">XXXL</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="talleNA" name="talle" value="n/a">
                  <label class="form-check-label" for="talleNA">N/A</label>
              </div>
          </div>
      </div>
      
      <div class="mb-2 w-50">
          <label class="form-label">Colores</label>
          <div class="d-flex gap-3 flex-wrap">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="colorRojo" name="color" value="rojo">
                  <label class="form-check-label" for="colorRojo">Rojo</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="colorVerde" name="color" value="verde">
                  <label class="form-check-label" for="colorVerde">Verde</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="colorAmarillo" name="color" value="amarillo">
                  <label class="form-check-label" for="colorAmarillo">Amarillo</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="colorNegro" name="color" value="negro">
                  <label class="form-check-label" for="colorNegro">Negro</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="colorAzul" name="color" value="azul">
                  <label class="form-check-label" for="colorAzul">Azul</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="colorBlanco" name="color" value="blanco">
                  <label class="form-check-label" for="colorBlanco">Blanco</label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="colorNA" name="color" value="n/a">
                  <label class="form-check-label" for="colorNA">N/A</label>
              </div>
          </div>
      </div>
      
      </div>
    
      <div class="Btn">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </form>
    </div>