.container{
    grid-template-rows: 1.5% 10% 8% 1fr auto;
}
    .contenido {
    display: grid;
    grid-template-areas:
        "pagos pagos"
        "login login"
 "registro registro";
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 3.5% auto auto;
    overflow: hidden; 
}


/*---------------------INFORMACION TARJETAS MEDIOS DE PAGO-----------------------*/


.login{
    grid-area: login;
display: flex;
flex-direction: column;
background-color: rgb(255, 210, 189);
align-items: center;
}
.login p{
    color: white;
    text-align: center;
    background-color: red;
    padding: 3%;
   font-size: 120%;
   letter-spacing: 10px;
   word-spacing: 16.8px;
     font-weight: 700;
   text-decoration: none solid rgb(68, 68, 68);
   font-size: 200%;
   font-family: "Bangers", system-ui;
   text-transform: capitalize;   
   font-style: bold;
}
form{
    display: flex;
    flex-direction: column;
    padding:1%;
background-color: white;
width: 70%;
gap: 5%;
align-items: center;
text-align: center;
justify-content: center;}

.form_ato{
    display: flex;
flex-direction: row;
gap: 10%;}
.form_ato label{
    font-size: 100%;
    color: #480202;
    letter-spacing: 4%;
}
.form_ato input{
font-size: 100%;
}

.b_login{
        color: rgb(255, 255, 255);
         font-size: 100%;
          line-height: 11px; 
          padding: 1%;
        border-radius: 15%;
         font-family: Georgia, serif; 
         font-weight: normal; 
         text-decoration: none;
          font-style: normal;
           font-variant: normal;
            text-transform: none;
            background-color: red;}
            .b_login:hover {
        background: #ff6a20; 
        transform: scale(1.5,1.5);
}
        .b_login:active {
        background: #480202; }

.registro{
    grid-area: registro;
    display: none;}