    .contenido {
    display: flex;
    flex-direction: column;
    overflow-x: hidden; }

/*---------------------Login y registro-----------------------*/

.login, .registro{
display: flex;
flex-direction: column;
background-color: rgb(255, 210, 189);
align-items: center;
}
.registro{
    width: 100%;
    align-items: start;}
/*-------------------------*/    
.login p, .registro p{
    color: white;
    text-align: center;
    background-color: red;
    padding: 3%;
   font-size: 120%;
   letter-spacing: 10px;
   word-spacing: 16.8px;
     font-weight: 700;
   text-decoration: none solid rgb(68, 68, 68);
   font-size: 200%;
   font-family: "Bangers", system-ui;
   text-transform: capitalize;   
   font-style: bold;}
.registro p{width: 100%;}

/*--------------------form---------------------------------*/
form{
    display: flex;
    flex-direction: column;
    padding:1%;
background-color: white;
width: 70%;
gap: 5%;
align-items: center;
text-align: center;
justify-content: center;}
.registro form{
    width: 80%;
    align-items: start;
    text-align: start;
    justify-content: start;}
    
/*---------------Organizacion de los datos-----------------------*/
.form_ato{
    display: flex;
flex-direction: row;
gap: 5%;}
.form_ato2 {
    display: flex;
    flex-direction: row;
    gap: 5%; /* Espacio entre elementos */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    margin: 1% 0;
    padding: 1%;
    font-size: 85%;
    border: 1px solid #ddd; /* Para diferenciar bloques */
    border-radius: 5px;
  }  .form_ato2 label {
    flex: 1; /* El label ocupa espacio proporcional */
    text-align: right;
    margin-right: 1%;
  }

  .form_ato2 input,
  .form_ato2 select {
    flex: 2; /* Los inputs ocupan más espacio */
    padding: 0.5em;
    font-size: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }



.b_login{
        color: rgb(255, 219, 219);
         font-size: 100%;
          line-height: 11px; 
          padding: 1%;
        border-radius: 15%;
         font-family: Georgia, serif; 
         font-weight: normal; 
         text-decoration: none;
          font-style: normal;
           font-variant: normal;
            text-transform: none;
            background-color: red;}
            .b_login:hover {
        background: #ff6a20; 
        transform: scale(1.5,1.5);}
        .b_login:active {background: #480202; }
 
 
 
        /*--------------querys----------------------- */
  @media (max-width: 768px) {
    .form_ato2 {
      flex-direction: column; /* Cambia a formato vertical */
      align-items: stretch; /* Alinear al contenedor */
    }

    .form_ato2 label {
      text-align: left; /* Cambia la alineación para pantallas pequeñas */
      margin-right: 0;
    }

    .form_ato2 input,
    .form_ato2 select {
      width: 100%; /* Ajusta el ancho */
    }
  }

    @media (max-width:650px){
        .form_ato{
            flex-direction: column;
        }
        
    }