
.contenido {
    display: grid;
    grid-template-areas:
        "pagos pagos"
        "ofertas ofertas"
        "aside productos";
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1.5% 15% 80%;
    overflow: hidden; /* Puede ser innecesario si el contenido no se desborda */
}

/*---------------------INFORMACION TARJETAS MEDIOS DE PAGO-----------------------*/

.informacion {
    grid-area: pagos;
    align-content: start;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    background-color: #ed5819;
}

.informacion p {
    color: white;
    text-align: center;
    font-size: 85%;
    justify-content: unset;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    word-spacing: 16px;
    height: 90%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2%;
    padding: 0;
}

.informacion ul {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.informacion li, .informacion li a {
    text-decoration: none;
    height: 90%;
    width: 20%;
    margin: 0;
    padding: 0;
    gap: 1%;
}

.informacion li img{
    text-decoration: none;
    width: 40%;
    height:80%;
}
span{
    margin: 0;
    padding: 0;
    justify-content: start;
}

.informacion li img:hover , span:hover{
    transform: scale(1.5,1.5);
}
/*---------------------OFERTAS PROMOCIONALES-----------------------*/
.ofertas {
    margin-top: 1%;
    grid-area: ofertas;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.ofertas_descripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ofertasp {
    color: #5004dd;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 70%;
    letter-spacing: -1%;
    word-spacing: 3px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    height: 20%;
    width: 100%;
    margin-bottom: 1%;
}
/**/
.ofertas .tarjetas{height: 70%;}

.ofertas .tarjeta {    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
margin: 0;
padding: 0}

.ofertas .tarjeta-link {
    height: 60%;  
    width: unset;}

.ofertas .tarjeta-img {
    height: 100%;  /* La imagen ocupa el 100% del contenedor */
    object-fit: contain; /* Ajusta la imagen sin perder proporciones */
}

.ofertas .descripcion,
.ofertas .precio {
    font-size: 80%;
    height: 15%;}





/*------------------ PRODUCTOS ----------------*/

.productos {
    display: flex;
    flex-direction: column;
    grid-area: productos;
  overflow: hidden;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

.titulos {
    display: flex;
    flex-direction: row;
    height: 7%;
    color: white;
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90%;
    letter-spacing: 2%;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2%;
}

/*------------------ BOTONES PARA OCULTAR MOSTRAR ----------------*/

.ocultar_tipo,
.mostrar_tipo,
.encabezado_aside button{
    height: 60%;
    width: 4%;
    justify-content: center;
    align-items: center;
    color: #FAC710;
    font-size: 90%;
    background-color: unset;
    border: 1px solid;
    border-radius: 20%;
    margin: 1%;
}

.ocultar_tipo {
    display: flex;
}

.mostrar_tipo {
    display: none;
}

/*------------------ CONTENEDOR DE PRODUCTOS ----------------*/

.productos_tipo {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
overflow: visible;
}

.tarjetas {
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
}

.tarjetas-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;
}

.flecha {
    width: 1%;
    border: 2% solid #FAC710;
    background: unset;
}

.flecha-izquierda,
.flecha-derecha {
    color: #ed5819;
}

.tarjeta {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 1%;
}

.tarjeta-link {
    height: 70%;  /* La sección de la imagen ocupa el 50% de la tarjeta */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;  /* La imagen ocupa el 100% del contenedor */
    object-fit: contain; /* Ajusta la imagen sin perder proporciones */
}

.descripcion,
.precio {
    width: 100%;
    height: 15%;
    font-size: 90%;
    text-align: center;
    margin: 0;
    padding: 0;
    word-spacing: 0;
    letter-spacing: 2px;
}

.descripcion {
    color:black; 
}
.precio{color: red;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.carrito, .eliminar{
    border: 2% solid green;
    border-radius: 10%;
color: green;
background-color: unset;}
.eliminar{display: none;}
.compras{
    border-radius: 10%;
background-color: unset;
}
/*HOVER TARJETA*/
.tarjeta:hover ,
.flecha:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #FAC710;
}
.tarjeta  a img:hover{
    opacity: 80%; 
    transform: (1.5,1.5);
    overflow: visible;

z-index: 10;
object-fit: contain;

}
    

/*------------------ ASIDE ----------------*/

.aside {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    grid-area: aside;
    margin: 0  2% 0 0;
    padding: 0;}
.encabezado_aside{
        display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    color: white;
height: 2.5%;
    gap: 5%;
font-size: 80%;
font-family: Arial, Helvetica, sans-serif;}
.encabezado_aside button{
    justify-content: unset;
    align-items: unset;
    margin: 0;
    padding: 2%;
    width: unset;
    font-size: 90%;}
    .aside-list{    margin: 0;
        padding: 0;
    overflow-y: scroll;
overflow-x: hidden;}
.aside-link{
    display: flex;
gap: 2%;
    list-style-type: none;
color: red;}
.subcategoria-list{
font-style: unset;
    list-style-image: url('../Medias/iconos/pila-de-libros.png');}
.subcategoria-link{
    align-items: start;
    list-style-type: none;
   text-decoration: unset;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90%;

}
/*Media queries */